<md-dialog aria-label="Launch {{app.name}}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{app.name}}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <!-- <img ng-src="{{app.imgUrl}}" style="width: 100%;"/> -->
    <div style="padding: 0 16px;">
      <p>{{app.description}}</p>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary">Cancel</md-button>
    <md-button class="md-primary">Launch</md-button>
  </md-dialog-actions>
</md-dialog>
